<div class="form-group">
    <label for="memberName">Nom</label></br>
    <small id="memberNameHelpInline" class="text-muted">Entre 3 et 100 caractères</small>
    <input type="text" class="form-control" id="memberName" name="memberName" placeholder="Nom, prénom ou pseudo">
    <p class="addMemberBtn form-control btn btn-success mt-3">+ <small>Ajouter une autre personne</small></p>
    <small id="addMemberBtnDescriptionHelpInline" class="text-muted">S'il faut plus de personnes, cliquez sur le bouton!</small>
    <input type="hidden" name="allMembersName">
</div>