{% extends 'base.html.twig' %}

{% block title %}Secret Santa - Accueil et inscription{% endblock %}

{% block body %}
<div class="container">
    <div class="bg-light p-2">
        <h2 class="text-center">Presentation</h2>
        <p> 
            <h4 class="text-center">Une liste de Secret-Santa? C'est quoi ça??</h4>
            Et bien tout simplement, c'est la certitude que tout le monde se verra offrir un cadeau sans savoir par qui!  
            Et ça sera la surprise pour chaque Santa de découvrir qui sera le destinataire de son cadeau!</br>
            Et si vous êtes là c'est que vous avez décidé de faire une liste de Secret Santa pour vos amis ou votre famille.
            <h4 class="text-center">Oui mais c'est compliqué!!</h4>
            Mais pas du tout!!! C'est simple, il suffit de remplir le formulaire ci-dessous et de cliquer sur le bouton "Valider" pour créer votre liste de Secret Santa. </br>
            Vous pouvez ajouter autant de personnes que vous le souhaitez et vous pourrez modifier la liste à tout moment. Il est même possible d'ajouter des contraintes. Ça serait trop simple que Marge puisse offrir un cadeau à Homer!!!</br>
            Alors suivez le guide et en avant pour les surprises!
        </p>
    </div>
    <div class="mt-3">
        <form action="#" method="post">
            <h3 class="text-center alert alert-info">Etape 1</h3>
            <div class="mb-3 bg-light p-2">
                <h2 class="text-center">Vos identifiants</h2>
                <p>
                    Commencez par créer votre compte. C'est déjà fait? </br><a href={{ path('app_login') }}>Connectez-vous</a></br>
                    Sinon il suffit de remplir ce formulaire.
                </p>
                <div class="form-group">
                    <label for="email">Mail *</label>
                    <input type="text" class="form-control" id="mail" name="email" placeholder="Votre adresse mail">
                    <small id="mailHelpInline" class="text-muted">Entre 3 et 100 caractères, de type mail@mail.fr</small>
                </div>
                <div class="form-group">
                    <label for="firstName">Votre prénom *</label>
                    <input type="text" class="form-control" id="firstName" name="firstName" placeholder="Votre prénom">
                    <small id="firstNameHelpInline" class="text-muted">Entre 3 et 100 caractères</small>
                </div>
                <div class="form-group">
                    <label for="lastName">Votre nom *</label>
                    <input type="text" class="form-control" id="lastName" name="lastName" placeholder="Votre nom">
                    <small id="lastNameHelpInline" class="text-muted">Entre 3 et 100 caractères</small>
                </div>
                <div class="form-group">
                    <label for="password">Mot de passe *</label>
                    <input type="password" class="form-control" name="password" id="password" placeholder="Mot de passe">
                    <small id="passwordHelpInline" class="text-muted">Entre 8 et 20 caractères, dont 1 lettre minuscule, 1 lettre majuscule, 1 chiffre</small>
                </div>
                <div class="form-group">
                    <label for="repeatPassword">Répétez votre de passe *</label>
                    <input type="password" class="form-control" name="repeatPassword" id="repeatPassword" placeholder="Mot de passe">
                    <small id="repeatPasswordHelpInline" class="text-muted">Les deux mots de passe doivent être identiques</small>
                </div>
            </div>
            <h3 class="text-center alert alert-info">Etape 2</h3>
            <div class="mb-3 bg-light p-2">
                <h2 class="text-center">Description de la liste</h2>
                <p>
                    Dites nous en plus sur votre liste. Choisissez un nom, vous pouvez ajouter une description et n'oubliez pas la date!!
                </p>
                {% include "partials/forms/_newListForm.html.twig" %}
            </div>
            <h3 class="text-center alert alert-info">Etape 3</h3>
            <div class="mb-3 bg-light p-2">
                <h2 class="text-center">Les participants</h2>
                <p>
                    La liste des participants est prête? Alors allez y ajouter les tous.</br>
                    Pas de craintes si vous en oubliez, vous pourrez les rajouter plus tard sur votre compte.</br>
                    On verra plus tard pour les contraintes. Et si vous voulez participer au tirage, n'oubliez pas de cocher la petite case :
                </p>
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" id="userIsMember" name="userIsMember">
                    <label class="form-check-label" for="userIsMember">Cochez la case si vous participez au tirage</label></br>
                </div>
                {% include "partials/forms/_newSantaForm.html.twig" %}
            </div>
            <h3 class="text-center alert alert-info">Etape 4</h3>
            <div class="mb-3 bg-light p-2">
                <h2 class="text-center">Validation</h2>
                <p>
                    C'est bon vous avez fini de remplir toutes les informations. Vous pouvez maintenant valider votre liste.</br>
                    Mais n'oubliez pas de : </br>
                    <a class="btn btn-outline-info" data-toggle="modal" data-target="#exampleModalCenter">lire les conditions d'utilisations</a> 
                    </br>
                </p>
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" id="checkValidation" name="checkValidation">
                    <label class="form-check-label" for="checkValidation">J'ai lu et j'accepte les conditions d'utilisation.</label></br>
                    <small id="checkValidationHelpInline" class="text-muted">Nécessaire pour le bon fonctionnement du site</small> 
                </div>
                <div class="form-group mt-3 mb-3">
                    <button type="submit" 
                            class="btn btn-primary form-control position-relative" 
                            name="createMember"
                            
                    >   
                        Valider
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>
{% endblock %}
