<!-- Modal -->
<div class="modal fade" id="aboutModalCenter" tabindex="-1" role="dialog" aria-labelledby="aboutModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">A propos du site</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        Pour le guide d'utilisation
        <hr>
      TODO : </br>
      - Afficher les infos de l'utilisateur </br>
      - Afficher les listes de l'utilisateur </br>
      - Afficher les santas de chaque liste </br>
      - Permettre la modification des infos de l'utilisateur </br>
      - Permettre la modification des listes de l'utilisateur </br>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Fermer</button>
      </div>
    </div>
  </div>
</div>