{% extends 'base.html.twig' %}

{% block title %}Hello SantaController!{% endblock %}

{% block body %}
<div class="container">
    <form action="#" method="post">
        {% include "partials/forms/_newSantaForm.html.twig" %}
        <div class="form-group mt-3 mb-3">
            <button type="submit" 
                    class="btn btn-primary form-control position-relative" 
                    name="submitAddSanta"
                    
            >   
                Valider
            </button>
    </form>
</div>
{% endblock %}
