@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

$primary: #00bcd4;
$secondary: #ca3015;
$success: #4caf50;
$info: #2196f3;
$warning: #ffc107;
$danger: #f44336;
$light: #fffafa;
$dark: #212121;
$white: #fff;
$black: #000;
$transparent: transparent;
$font-family-sans-serif: 'Roboto', sans-serif;
$font-family-monospace: 'Roboto Mono', monospace;
$font-family-base: $font-family-sans-serif;

